logs
target
/app-2.11
/test-2.11
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.history
/*.iml
/out
/.cache*
/*.gz
activator
activator-launch-1.3.6.jar
activator.bat
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
LICENSE
README*
