<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.BrandMapper">

    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->
    <cache/>

    <resultMap type="domain.Brand" id="brands">
        <id property="brandId" column="brand_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="descriptionCn" column="desc_cn" javaType="String"
                jdbcType="VARCHAR"/>
        <result property="descriptionEn" column="desc_en" javaType="String"
                jdbcType="VARCHAR"/>
        <result property="descriptionKr" column="desc_kr" javaType="String"
                jdbcType="VARCHAR"/>
        <result property="logoUrl" column="logo_url" javaType="String" jdbcType="VARCHAR"/>
        <result property="homePage" column="home_page" javaType="String" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
        <result property="brandNmCn" column="brand_nm_cn" javaType="String" jdbcType="VARCHAR"/>
        <result property="brandNmEn" column="brand_nm_en" javaType="String" jdbcType="VARCHAR"/>
        <result property="brandNmKr" column="brand_nm_kr" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="brandsColumns">
        ${alias}.brand_id,
        ${alias}.desc_cn,
        ${alias}.desc_en,
        ${alias}.desc_kr,
        ${alias}.logo_url,
        ${alias}.home_page,
        ${alias}.create_date,
        ${alias}.brand_nm_cn,
        ${alias}.brand_nm_en,
        ${alias}.brand_nm_kr
    </sql>

    <select id="getBrands" resultMap="brands" parameterType="java.lang.Integer">
        select
        <include refid="brandsColumns">
            <property name="alias" value="t"/>
        </include>
        from brands t where brand_id=${value}
    </select>

    <select id="getAllBrands" resultMap="brands">
        select
        <include refid="brandsColumns">
            <property name="alias" value="t"/>
        </include>
        from brands t where 1=1
    </select>
</mapper>
