<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CateMapper">


    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->
    <cache/>

    <resultMap type="domain.Cate" id="cates">
        <id property="cateId" column="cate_id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="parentCateId" column="pcate_id" javaType="Integer"
                jdbcType="INTEGER"/>
        <result property="cateNameCn" column="cate_nm_cn" javaType="String"
                jdbcType="VARCHAR"/>
        <result property="cateNameEn" column="cate_nm_en" javaType="String"
                jdbcType="VARCHAR"/>
        <result property="cateNameKr" column="cate_nm_kr" javaType="String" jdbcType="VARCHAR"/>
        <result property="cateDesc" column="cate_desc" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="catesColumns">
        ${alias}.cate_id,
        ${alias}.pcate_id,
        ${alias}.cate_nm_cn,
        ${alias}.cate_nm_en,
        ${alias}.cate_nm_kr,
        ${alias}.cate_desc
    </sql>

    <select id="getParentCates" resultMap="cates">
        select
        <include refid="catesColumns">
            <property name="alias" value="t"/>
        </include>
        from cates t where t.pcate_id IS NULL ORDER BY t.cate_nm_cn;
    </select>

    <select id="getSubCates" resultMap="cates" parameterType="map">
        select
        <include refid="catesColumns">
            <property name="alias" value="t"/>
        </include>
        from cates t where 1=1
        <if test="parentCateId !=null">
            AND pcate_id = #{parentCateId}
        </if>
        <if test="cateId !=null">
            AND cate_id = #{cateId}
        </if>
    </select>
</mapper>
